{% include "header.html" %}

<div class="cards">

{% for pet in pets %}
<div class="card">

    {% if pet.photo %}
        <img src="{{ url_for('static', filename='uploads/' + pet.photo) }}">
    {% endif %}

    <div class="card-body">

    <span class="badge ...">{{ pet.status }}</span>

    <h3>{{ pet.title }}</h3>

    <p>{{ pet.animal_type }} | {{ pet.breed }}</p>
    <p>{{ pet.location }}</p>

</div>

<div class="card-footer">
    <span class="author">👤 {{ pet.user.username if pet.user else "анонім" }}</span>
</div>

</div>
{% endfor %}

</div>
<div id="lightbox" class="lightbox">
    <span class="close">&times;</span>
    <img id="lightbox-img" src="">
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>